---
import './semantic.min.css'
---

<button class="ui vertical animated button">
  <div class="hidden content">Shop</div>
  <div class="visible content">
    <i aria-hidden="true" class="shop icon"></i>
  </div>
</button>
